[submodule "Pamx"]
	path = Pamx
	url = https://github.com/PAS-on-Unity/Pamx
[submodule "TmpEmulation"]
	path = TmpEmulation
	url = https://github.com/PAS-on-Unity/TmpEmulation
[submodule "SimpleStructuredBinaryFormat"]
	path = SimpleStructuredBinaryFormat
	url = https://github.com/PAS-on-Unity/SimpleStructuredBinaryFormat
